:root {
    --color-black: rgb(62, 66, 65);
    --color-blue: #008b8b;
    --color-orange: rgb(254, 204, 0);
}

* {
    padding: 0;    
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--color-black);
  }
  ul,
  ol,
  li {
    list-style: none;
  }

.wrapper {
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
    overflow-x: hidden;
}

@media (max-width:767px) {
    .header__ul {
        flex-wrap: wrap;
    }

    .aside,
    .main {
        min-width: 90%;
    }

    .content {
        flex-direction: column;
    }

}


.header__ul {
    background-color: var(--color-blue);
    min-height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.header__item {
    font: italic bold 24px Arial;
    color: white;
    /* box-shadow: inset 0px 0px 8px rgba(34, 60, 80, 0.6); */

}

.header__ul > li {
    padding: 10px;
    border-radius: 15%;
    box-shadow: inset 0px 0px 8px rgba(34, 60, 80, 0.6);
}

.header__ul > li:hover {
    transition: 0.7s;
    transform: scale(1.1);
    box-shadow: inset 0 0 10px var(--color-orange);
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.img {
    max-width: 100%;
}

.material-icons-outlined {
    font-size: 24px;
    font-family: "Material icons";
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    text-align: center;
    padding-right: 15px;
}

.discort-image {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    text-align: center;
    padding-right: 15px;
}

.content {
    display: flex;
}

.main__about {
    color: var(--color-black);
    font: italic normal 18px Rubik;
}

.aside__image {
    border-radius: 25%;
    border: 0.2rem solid;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    padding: 1em 0;
    font-size: 2em;
    text-align: center;
}

h2,
h3 {
    text-align: left;
    border-bottom: var(--color-blue) solid 3px;
}

.aside {
    background-color: darkgrey;
    padding: 10px;
    width: 30%;
}

.aside__foto {
    display: flex;
    flex-direction: column;
}


.section {
    margin-top: 60px;
}

.main {
    padding: 10px;
    width: 65%;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    background-color: var(--color-blue);
    margin: 0px;
    height: 70px;
}

.footer__list {
    margin: 0px;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
